<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Demo project for Spring Boot MongoDB CRUD</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</head>