<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head" />
<body>
	<div class="text-center container">
		<h1 class="h1 text-danger">ERROR!!</h1>
		<h5 class="h5 text-info">
			<a th:href="@{/}">Go to Index</a>
		</h5>
	</div>
</body>
</html>