<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head" />
<body class="container">
	<div>
		<h2 class="h2">Items</h2>
		<p>Items in MongoDB CRUD</p>
		<table class="table table-hover table-striped text-center">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Primer Apellido</th>
					<th>Segundo Apellido</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${indexVO.listItem}">
					<td>[[${item.nombre}]]</td>
					<td>[[${item.apellido1}]]</td>
					<td>[[${item.apellido2}]]</td>
					<td><button class="btn btn-info"
							th:onclick="'window.location=\'' + @{/{id}/edit(id=${item.id})} + '\';'">Editar</button>
						<button class="btn btn-danger"
							th:onclick="'window.confirm(\'Va a elimitar el Item\') ? window.location=\'' + @{/{id}/delete(id=${item.id})} + '\' : false;'">Borrar</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p>
		<button th:onclick="'window.location=\'' + @{/new} + '\';'"
			class="btn btn-primary">Nuevo</button>
	</p>
</body>
</html>